/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.nav-link {
    @apply text-white hover:bg-white hover:bg-opacity-20 px-3 py-2 rounded-md text-sm font-medium transition duration-300;
}

.mobile-nav-link {
    @apply block text-white hover:bg-white hover:bg-opacity-20 px-4 py-2 text-sm font-medium transition duration-300;
}